<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Our webSite</title>
  </head>
  <body>
    <h1>Projects</h1>
    {{> header}}
    {{ projects }}
    {{> footer}}
  </body>
</html>
